// COLORS

$accent-color: #DEC377;
$accent-75: rgba(222, 195, 119, 0.75);
$accent-40: rgba(222, 195, 119, 0.4);
$accent-dark: #AB8B2F;
$accent-dark-1: #D3AF4A;

$main-color: #F2F2F2;
$main-light: #FFFFFF;

$background-color: #E5E5E5;

$dark-main: rgba(0, 0, 0, 0.8);
$dark-secondary: rgba(0, 0, 0, 0.5);

$detail-color: rgba(0, 0, 0, 0.1);

$inactive-color: rgba(0, 0, 0, 0.1);

$main-text-color: rgba(0, 0, 0, 0.8);
$title-color: rgba(0, 0, 0, 0.9);
$subtitle-color: rgba(0, 0, 0, 0.75);
$text-secondary: rgba(0, 0, 0, 0.5);

// FONTS

@font-face {
  font-family: 'Commissioner-Bold';
  src: url('../sass/base/fonts/Commissioner-Bold/Commissioner-Bold.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Commissioner-Bold/Commissioner-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Commissioner-Bold/Commissioner-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Commissioner-Bold/Commissioner-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Commissioner-Bold/Commissioner-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Commissioner-Bold/Commissioner-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Commissioner-Medium';
  src: url('../sass/base/fonts/Commissioner-Medium/Commissioner-Medium.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Commissioner-Medium/Commissioner-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Commissioner-Medium/Commissioner-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Commissioner-Medium/Commissioner-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Commissioner-Medium/Commissioner-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Commissioner-Medium/Commissioner-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Commissioner-Regular';
  src: url('../sass/base/fonts/Commissioner-Regular/Commissioner-Regular.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Commissioner-Regular/Commissioner-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Commissioner-Regular/Commissioner-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Commissioner-Regular/Commissioner-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Commissioner-Regular/Commissioner-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Commissioner-Regular/Commissioner-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Commissioner-SemiBold';
  src: url('../sass/base/fonts/Commissioner-SemiBold/Commissioner-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Commissioner-SemiBold/Commissioner-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Commissioner-SemiBold/Commissioner-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Commissioner-SemiBold/Commissioner-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Commissioner-SemiBold/Commissioner-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Commissioner-SemiBold/Commissioner-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../sass/base/fonts/Lato-Regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Lato-Regular/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Lato-Regular/Lato-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../sass/base/fonts/Lato-Semibold/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Lato-Semibold/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Lato-Semibold/Lato-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Lato-Semibold/Lato-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Lato-Semibold/Lato-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Lato-Semibold/Lato-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../sass/base/fonts/Lato-Light/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/Lato-Light/Lato-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/Lato-Light/Lato-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/Lato-Light/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/Lato-Light/Lato-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../sass/base/fonts/SourceSansPro-Light/SourceSansPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/SourceSansPro-Light/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/SourceSansPro-Light/SourceSansPro-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/SourceSansPro-Light/SourceSansPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/SourceSansPro-Light/SourceSansPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/SourceSansPro-Light/SourceSansPro-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../sass/base/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../sass/base/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../sass/base/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../sass/base/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../sass/base/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../sass/base/fonts/SourceSansPro-Regular/SourceSansPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$commissioner-regular: 'Commissioner-Regular', sans-serif;
$commissioner-bold: 'Commissioner-Bold', sans-serif;
$commissioner-medium: 'Commissioner-Medium', sans-serif;
$commissioner-semibold: 'Commissioner-SemiBold', sans-serif;

$lato-regular: 'Lato-Regular', sans-serif;
$lato-semibold: 'Lato-Semibold', sans-serif;
$lato-light: 'Lato-Light', sans-serif;

$sourcesanspro-light: 'SourceSansPro-Light', sans-serif;
$sourcesanspro-regular: 'SourceSansPro-Regular', sans-serif;
