.navbar {
	padding: 2.2rem 0rem 0rem 0.8rem;
	width: 100%;

	&-toggler {
		background-image: url(../img/icons/menu.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 4rem;
		height: 4rem;
	}

	&-brand {
		margin-right: 2.5rem;
		margin-left: -1.5rem;
	}

	&-nav {
		align-items: center;
	}

	.nav-link {
		@include caption-text;
		font-size: 1.4rem;
		text-transform: uppercase;
		padding: 0 !important;
		letter-spacing: .05rem;

		&:hover {
			opacity: .7;
			transition: all .5s ease;
		}
	}

	.nav-item:not(:nth-child(7))	{
		padding-right: 4.97rem;
	}

	.collapse {
		min-width: 74rem;
		padding: 0 0 .8rem 0;
	}

	.search {
		background-color: transparent;
		border: none;
	}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.navbar {

		.collapse {
			min-width: fit-content;
		}

		.nav-item:not(:nth-child(7))	{
			padding-right: 0;
			margin-bottom: 1rem;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar {

		.collapse {
			min-width: fit-content;
		}

		.nav-item:not(:nth-child(7))	{
			padding-right: 0;
			margin-bottom: 1rem;
		}
	}
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
	.navbar {

		.collapse {
			min-width: fit-content;
		}

		.nav-item:not(:nth-child(7))	{
			padding-right: 0;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 575px) {
	.navbar {

		.collapse {
			min-width: fit-content;
		}

		.nav-item:not(:nth-child(7))	{
			padding-right: 0;
			margin-bottom: 1rem;
		}
	}
}
